name: CI

on: [push]

jobs:
  client:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./client

    steps:
      - uses: actions/checkout@v4

      - name: Use Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.1.6

      - run: bun install

      - name: Build
        run: bun run build

      - name: Lint
        run: bun run lint

      - name: Typescript
        run: bun run ts

      - name: Test
        run: bun run test:single

      - name: Format
        run: bun run format:check


  server:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./server

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "server/.python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run type check
        run: uv run mypy .

      - name: Run linter
        run: uv run ruff check
